In [1]:
# Portfolio 3
# Heritage data

In [2]:
# Det valgte dataset bliver importeret, med søge query "skitser"
# Det bliver lagt ind i et dataframe
import requests
import pandas as pd
from pandas.io.json import json_normalize

smk_search_url = 'https://api.smk.dk/api/v1/art/search/?keys=skitser&offset=0&rows=150'

params = {
    'q': 'skitser', 
    'items': 'items',
    'encoding': 'json',
    'n': 150
}

response = requests.get(smk_search_url, params=params)
print(response)
json = response.json()
df = json_normalize(json['items'])

<Response [200]>

In [3]:
df.head()

,acquisition_date,acquisition_date_precision,alternative_images,collection,colors,content_description,content_subject,created,credit_line,dimensions,...,production,production_date,production_dates_notes,public_domain,related_objects,responsible_department,rights,techniques,titles,work_status
0,NaN,1992-12-31,NaN,NaN,"[#FFFFFF, #D2D2D2, #D2D2D2, #555555, #9B9B9B]",[Vandmærke: Bikube på sokkel omgivet af blomst...,NaN,2019-08-07T05:09:05Z,NaN,"[{'notes': '125 x 224 mm', 'part': 'bladmaal',...",...,"[{'creator': 'Skovgaard, Niels', 'creator_date...","[{'start': '1923-01-01T00:00:00.000Z', 'end': ...",NaN,True,[{'title': 'Illustration til Den lille hvide k...,Samling og Forskning (KKS),https://creativecommons.org/share-your-work/pu...,[{'technique': 'skitser; blyant'}],"[{'title': 'Illustration til ""Den lille hvide ...",NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2019-08-07T07:35:17Z,NaN,"[{'notes': '340 x 440 mm', 'part': 'netto', 't...",...,"[{'creator': 'Tuxen, Lauritz', 'creator_date_o...",NaN,NaN,True,NaN,NaN,https://creativecommons.org/share-your-work/pu...,[{'technique': 'Skitse på træ'}],"[{'title': 'Arkona, Skitse til '}]",NaN
2,NaN,1982-12-31,NaN,NaN,"[#FFFFFF, #FFFFFF, #D2D2D2, #D2D2D2, #5A5A5A]",NaN,NaN,2019-08-07T03:20:07Z,[© Bjørn Nørgaard],"[{'notes': '226 x 157 mm', 'part': 'monterings...",...,"[{'creator': 'Nørgaard, Bjørn', 'creator_date_...","[{'start': '1978-01-01T00:00:00.000Z', 'end': ...",NaN,False,"[{'title': 'To studier', 'reference': 'KKS1982...",Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,[{'technique': 'Blyant'}],"[{'title': 'Skitse', 'language': 'da-DK', 'typ...",NaN
3,NaN,1982-12-31,NaN,NaN,"[#D2D2D2, #D2D2D2, #F4C6A3, #555555, #9B9B9B]",NaN,NaN,2019-08-07T03:21:19Z,[© Bjørn Nørgaard],"[{'notes': '143 x 104 mm', 'part': 'monterings...",...,"[{'creator': 'Nørgaard, Bjørn', 'creator_date_...","[{'start': '1965-01-01T00:00:00.000Z', 'end': ...",[Dat. baseret på egenhændig påskrift på blad 2],False,"[{'title': 'Blank', 'reference': 'KKS1982-138/...",Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,[{'technique': 'Sort spritmarker'}],"[{'title': 'Skitse', 'language': 'da-DK', 'typ...",NaN
4,NaN,1978-12-31,NaN,NaN,NaN,NaN,NaN,2019-08-07T03:30:59Z,[© Palle Nielsen],"[{'notes': '297 x 209 mm', 'part': 'monterings...",...,"[{'creator': 'Nielsen, Palle', 'creator_date_o...","[{'start': '1973-01-01T00:00:00.000Z', 'end': ...",NaN,False,[{'notes': 'Side 127 i skitsebog med modelstud...,Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,[{'technique': 'Pen og sort blæk'}],"[{'title': 'Skitse', 'language': 'da-DK', 'typ...",[skitsebogsblad]

In [9]:
def flatten_json(y):
    out = {}

    def flatten(x, name=''):
        if type(x) is dict:
            for a in x:
                flatten(x[a], name + a + '_')
        elif type(x) is list:
            i = 0
            for a in x:
                flatten(a, name + str(i) + '_')
                i += 1
        else:
            out[name[:-1]] = x

    flatten(y)
    return out

In [10]:
dic_flattened = [flatten_json(d) for d in json['items']]
df= json_normalize(dic_flattened)

In [11]:
# Hvilke datatyper findes i mit dataframe?
df.dtypes

acquisition_date                     object
acquisition_date_precision           object
alternative_images_0_height         float64
alternative_images_0_iiif_id         object
alternative_images_0_iiif_info       object
alternative_images_0_mime_type       object
alternative_images_0_native          object
alternative_images_0_orientation     object
alternative_images_0_size           float64
alternative_images_0_thumbnail       object
alternative_images_0_width          float64
alternative_images_1_height         float64
alternative_images_1_iiif_id         object
alternative_images_1_iiif_info       object
alternative_images_1_mime_type       object
alternative_images_1_native          object
alternative_images_1_orientation     object
alternative_images_1_size           float64
alternative_images_1_thumbnail       object
alternative_images_1_width          float64
alternative_images_2_height         float64
alternative_images_2_iiif_id         object
alternative_images_2_iiif_info       object
alternative_images_2_mime_type       object
alternative_images_2_native          object
alternative_images_2_orientation     object
alternative_images_2_size           float64
alternative_images_2_thumbnail       object
alternative_images_2_width          float64
alternative_images_3_height         float64
                                     ...
production_1_creator_nationality     object
production_1_creator_role            object
production_date_0_end                object
production_date_0_period             object
production_date_0_start              object
production_date_1_end                object
production_date_1_period             object
production_date_1_start              object
production_dates_notes_0             object
public_domain                          bool
related_objects_0_notes              object
related_objects_0_reference          object
related_objects_0_title              object
related_objects_1_reference          object
related_objects_1_title              object
responsible_department               object
rights                               object
techniques_0_technique               object
techniques_1_technique               object
titles_0_language                    object
titles_0_title                       object
titles_0_type                        object
titles_1_language                    object
titles_1_title                       object
titles_1_translation                 object
titles_1_type                        object
titles_2_language                    object
titles_2_title                       object
titles_2_type                        object
work_status_0                        object
Length: 324, dtype: object

In [12]:
df.head()

,acquisition_date,acquisition_date_precision,alternative_images_0_height,alternative_images_0_iiif_id,alternative_images_0_iiif_info,alternative_images_0_mime_type,alternative_images_0_native,alternative_images_0_orientation,alternative_images_0_size,alternative_images_0_thumbnail,...,titles_0_title,titles_0_type,titles_1_language,titles_1_title,titles_1_translation,titles_1_type,titles_2_language,titles_2_title,titles_2_type,work_status_0
0,NaN,1992-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Illustration til ""Den lille hvide kat""",DESCRIPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,"Arkona, Skitse til",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,1982-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Skitse,DESCRIPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,1982-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Skitse,DESCRIPT,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,1978-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,Skitse,MUSEUM,NaN,NaN,NaN,NaN,NaN,NaN,NaN,skitsebogsblad

In [15]:
# Ovenstående liste vil også bruges til at fjerne kolonner som ikke har interesse
df = df[df.columns.drop(list(df.filter(regex='alternative_images_[0-9]{1,3}_([^\s]+)')))]

In [16]:
df.shape

(150, 234)

In [17]:
df = df[df.columns.drop(list(df.filter(regex='titles_[0-9]{1,3}_([^\s]+)')))]

In [18]:
df.shape

(150, 224)

In [19]:
df = df[df.columns.drop(list(df.filter(regex='production_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='production_date_[0-9]{1,3}_([^\s]+)')))]

In [20]:
df.shape

(150, 206)

In [21]:
df.dtypes

acquisition_date               object
acquisition_date_precision     object
collection_0                   object
colors_0                       object
colors_1                       object
colors_2                       object
colors_3                       object
colors_4                       object
content_description_0          object
content_description_1          object
content_subject_0              object
created                        object
credit_line_0                  object
dimensions_0_notes             object
dimensions_0_part              object
dimensions_0_type              object
dimensions_0_unit              object
dimensions_0_value             object
dimensions_1_notes             object
dimensions_1_part              object
dimensions_1_type              object
dimensions_1_unit              object
dimensions_1_value             object
dimensions_2_notes             object
dimensions_2_part              object
dimensions_2_type              object
dimensions_2_unit              object
dimensions_2_value             object
dimensions_3_notes             object
dimensions_3_part              object
                                ...
parts_39                       object
parts_4                        object
parts_40                       object
parts_41                       object
parts_42                       object
parts_43                       object
parts_44                       object
parts_45                       object
parts_46                       object
parts_47                       object
parts_48                       object
parts_49                       object
parts_5                        object
parts_50                       object
parts_6                        object
parts_7                        object
parts_8                        object
parts_9                        object
production_dates_notes_0       object
public_domain                    bool
related_objects_0_notes        object
related_objects_0_reference    object
related_objects_0_title        object
related_objects_1_reference    object
related_objects_1_title        object
responsible_department         object
rights                         object
techniques_0_technique         object
techniques_1_technique         object
work_status_0                  object
Length: 206, dtype: object

In [40]:
df.shape

(150, 174)

In [44]:
df = df[df.columns.drop(list(df.filter(regex='related_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='related_objects_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='techniques_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='work_status_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='production_dates_notes_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='content_description_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='parts_[0-9]{1,3}_([^\s]+)')))]

In [45]:
df.shape

(150, 174)

In [46]:
df.head()

,acquisition_date,acquisition_date_precision,collection_0,colors_0,colors_1,colors_2,colors_3,colors_4,content_description_0,content_description_1,...,parts_50,parts_6,parts_7,parts_8,parts_9,production_dates_notes_0,public_domain,responsible_department,rights,work_status_0
0,NaN,1992-12-31,NaN,#FFFFFF,#D2D2D2,#D2D2D2,#555555,#9B9B9B,Vandmærke: Bikube på sokkel omgivet af blomste...,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,Samling og Forskning (KKS),https://creativecommons.org/share-your-work/pu...,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,True,NaN,https://creativecommons.org/share-your-work/pu...,NaN
2,NaN,1982-12-31,NaN,#FFFFFF,#FFFFFF,#D2D2D2,#D2D2D2,#5A5A5A,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,NaN
3,NaN,1982-12-31,NaN,#D2D2D2,#D2D2D2,#F4C6A3,#555555,#9B9B9B,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,Dat. baseret på egenhændig påskrift på blad 2,False,Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,NaN
4,NaN,1978-12-31,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,False,Samling og Forskning (KKS),https://en.wikipedia.org/wiki/Copyright,skitsebogsblad

In [47]:
df.shape

(150, 174)

In [48]:
df.dtypes

acquisition_date              object
acquisition_date_precision    object
collection_0                  object
colors_0                      object
colors_1                      object
colors_2                      object
colors_3                      object
colors_4                      object
content_description_0         object
content_description_1         object
content_subject_0             object
created                       object
credit_line_0                 object
distinguishing_features_0     object
documentation_0_author        object
documentation_0_notes         object
documentation_0_shelfmark     object
documentation_0_title         object
documentation_1_author        object
documentation_1_notes         object
documentation_1_shelfmark     object
documentation_1_title         object
documentation_2_author        object
documentation_2_notes         object
documentation_2_title         object
documentation_3_author        object
documentation_3_notes         object
documentation_3_title         object
exhibitions_0_date_end        object
exhibitions_0_date_start      object
                               ...
parts_32                      object
parts_33                      object
parts_34                      object
parts_35                      object
parts_36                      object
parts_37                      object
parts_38                      object
parts_39                      object
parts_4                       object
parts_40                      object
parts_41                      object
parts_42                      object
parts_43                      object
parts_44                      object
parts_45                      object
parts_46                      object
parts_47                      object
parts_48                      object
parts_49                      object
parts_5                       object
parts_50                      object
parts_6                       object
parts_7                       object
parts_8                       object
parts_9                       object
production_dates_notes_0      object
public_domain                   bool
responsible_department        object
rights                        object
work_status_0                 object
Length: 174, dtype: object

In [74]:
# Regex automatisering af fjernelse af kolonner som jeg ikke vil have i mit dataframe, efter flattening
# Jeg går herved ned fra 300+ kolonner til 27
# Credit: (Frederik)
df = df[df.columns.drop(list(df.filter(regex='parts_[0-9]{1,3}')))]
df = df[df.columns.drop(list(df.filter(regex='documentation_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='part_of_[0-9]{1,3}')))]
df = df[df.columns.drop(list(df.filter(regex='inscriptions_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='exhibitions_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='content_description_[0-9]{1,3}')))]
df = df[df.columns.drop(list(df.filter(regex='image_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='materials_[0-9]{1,3}_([^\s]+)')))]
df = df[df.columns.drop(list(df.filter(regex='frame_notes_[0-9]{1,3}')))]

In [75]:
df.shape

(150, 27)

In [71]:
df.dtypes

acquisition_date               object
acquisition_date_precision     object
collection_0                   object
colors_0                       object
colors_1                       object
colors_2                       object
colors_3                       object
colors_4                       object
content_subject_0              object
created                        object
credit_line_0                  object
distinguishing_features_0      object
frame_notes_0                  object
frame_notes_1                  object
has_image                        bool
id                             object
iiif_manifest                  object
materials_0_material           object
materials_1_material           object
modified                       object
notes_0                        object
number_of_parts               float64
object_history_note_0          object
object_names_0_name            object
object_number                  object
on_display                       bool
production_dates_notes_0       object
public_domain                    bool
responsible_department         object
rights                         object
work_status_0                  object
dtype: object